<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0" />

<meta name="description" content="The Dap trainning project admin" />

<meta property="og:type" content="website" />
<meta property="og:site_name" content="Data Access Project" />

<!-- See configuration in WebMvConfig.java -->
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"
	media="screen" />


<script th:src="@{/jquery/jquery.min.js}"></script>
<script th:src="@{/popper/popper.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

<title>Data Access Project Admin</title>

</head>
<body>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Nom du compte</th>
				<th>type de compte</th>
				<th>token</th>
				<th>tenant id</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="compte : ${comptes}">
				<td th:text="${compte.user}">nom utilisateurs</td>
				<td th:text="${compte.accountTypeEnum}">type de compte</td>
				<td th:text="${compte.tenantId}">credential</td>
				<td th:text="${compte.storedCredential}"></td>

			</tr>
		</tbody>
	</table>
</body>
</html>